.one{
    width:80%;
    height: 200px;
    padding: 20px;
    border:5px solid black;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: pink;
    
}
   .box{
    width: 400px;
    height: 100px;
    background-color: rgb(48, 48, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 18px;
    border-radius: 10px;
    font-size:larger;
   }